wxPython>=4.1.1
setuptools>=52.0.0
numpy>=1.21.1
opencv-python>=4.5.3.56
mock>=4.0.3
sphinx-py3doc-enhanced-theme>=2.4.0
lxml>=4.6.3
attrs>=21.2.0
appdirs>=1.4.4
cattrs>=1.8.0
docstring-parser>=0.10.0
